{%- comment -%}
t4s_group_btns
t4s_group_btns_split
{%- endcomment -%}

<svg xmlns="http://www.w3.org/2000/svg" class="t4s-d-none">
  <symbol id="icon-h-search" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round">
    <circle cx="11" cy="11" r="7"></circle>
    <line x1="16.5" y1="16.5" x2="21.5" y2="21.5"></line>
  </symbol>
  <symbol id="icon-h-account" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round">
    <circle cx="12" cy="8" r="4"></circle>
    <path d="M5 20.5c0-3.866 3.134-6.5 7-6.5s7 2.634 7 6.5"></path>
  </symbol>
  <symbol id="icon-h-heart" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round">
    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
  </symbol>
  <symbol id="icon-h-cart" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
    <path d="M5 8h14l1.1 13a1 1 0 0 1-1 1.1H4.9a1 1 0 0 1-1-1.1L5 8z"/>
    <path d="M8 10V7a4 4 0 0 1 8 0v3"/>
  </symbol>
</svg>


<div class="t4s-site-nav__icons t4s-use__{{ se_stts.h_icon }} is--hover{{ se_stts.hover_icon }} t4s-h-cart__design{{ se_stts.cart_des }} t4s-lh-1 t4s-d-inline-flex t4s-align-items-center">
	{%- if se_stts.show_search -%}
	<div class="t4s-site-nav__icon t4s-site-nav__search">
		{%- if isfrmSearch -%}
			  <style>
			  	.t4s-search-header__form {
						padding: 0;
						min-width: 260px;
						border: 1px solid rgba(var(--h-text-color-rgb), 0.15);
						border-radius: var(--btn-radius);
			  	}
			  	.t4s-search-header__input {
						padding-top:0;
						padding-inline-end:50px;
						padding-bottom:0;
						padding-inline-start:15px;
						height: 40px;
						border: 0;
						width: 100%;
						line-height: 18px;
						background-color: transparent;
						color: var(--h-text-color);
						border-radius: var(--btn-radius);
						font-size: 13px;
					}
					.t4s-search-header__submit {
						position: absolute;
						top: 0;
						right: 2px;
						bottom: 0;
						padding: 0;
						width: 50px;
						border: none;
						background-color: transparent !important;
						color: var(--h-text-color);
						font-size: 15px;
					}
					.rtl_true .t4s-search-header__submit{left:2px;right:auto}
					.t4s-site-nav__icons .t4s-search-header__submit svg.t4s-icon {
						color: var(--h-text-color);
						width: 15px;
						height: 15px;
					}
					.t4s-search-header__type select {
						border: 0;
						max-width: 138px;
						padding: 0 30px 0 15px;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						font-size: 13px;
						display: inline-block;
						background-color: transparent;
						box-shadow: none;
						color: var(--h-text-color);
						border-radius: var(--btn-radius);
					}
					.t4s-search-header__type .t4s-icon-select-arrow { color: var(--h-text-color); }
					.t4s-search-header_border {
						height: 18px;
						background-color: rgba(var(--h-text-color-rgb), 0.15);
						width: 1.5px;
					}
					.t4s-frm-search__results {
						position: absolute;
						top: 100%;
						right: 0;
						left: 0;
						z-index: 1000;
						width: auto;
						height: auto;
						background-color: var(--t4s-light-color);
						margin-top: 5px;
						opacity: 0;
						visibility: hidden;
						pointer-events: none;
						transition: all .1s ease-in-out;
						max-width: 1170px;
						margin: 0 auto;
						box-shadow: 0 1px 5px 2px rgba(var(--border-color-rgb),.3);
					}
					.calc-pos-submenu .t4s-search-header__form-wrap:hover .t4s-frm-search__results {
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
					.t4s-frm-search__content { 
						height:auto;
						overflow: auto;
						overflow-x: hidden;
						-webkit-overflow-scrolling: touch;
						padding: 20px;
					}
					.t4s-frm-search__content .t4s-widget_img_pr {
						min-width: 95px;
						max-width: 95px;
						max-height: 120px;
					}
					.t4s-frm-search__content .t4s-widget_img_pr>a {
						height: 100%;
					}
					.t4s-frm-search__content .t4s-widget_img_pr img {
						object-fit: contain;
						max-height: 120px;
					}
					.t4s-frm-search__content .t4s-row.t4s-widget__pr {
						--ts-gutter-x: 20px;flex-wrap: nowrap;
					}
					.t4s-frm-search__content .t4s-widget__pr .t4s-widget__pr-title {
						font-weight: 500;
						line-height: 1.25;
						font-size: 14px;
						color: var(--secondary-color);
					}
					.t4s-frm-search__content .t4s-widget__pr-price {
						font-size: 14px;
						color: var(--secondary-price-color);
					}
					.t4s-frm-search__content .t4s-widget__pr-price ins {
						color: var(--primary-price-color);
						margin-left: 5px;
					}
					.rtl_true .t4s-frm-search__content .t4s-widget__pr-price ins {
						margin-right: 5px;
						margin-left: 0;
						display: inline-block;
					}
					.t4s-frm-search__content .t4s-widget__pr .t4s-widget__pr-price {
						margin-top: 1.5px;
					}
					.t4s-search-header__form-wrap .t4s-mini-search__viewAll {
						padding: 12px 20px;
						border-top: 1px solid rgba(var(--border-color-rgb),.35);
						box-shadow: 0 0 10px 0 rgba(var(--border-color-rgb),.35);
					}
					.t4s-frm-search__content .t4s-widget__pr .t4s-widget__pr-title:hover,
					.t4s-search-header__form-wrap .t4s-mini-search__viewAll:hover {
						color: var(--accent-color);
					}
			  </style>	
	      <div data-predictive-search data-sid="search-hidden" class="t4s-search-header__form-wrap t4s-search-header t4s-pr t4s-d-none t4s-d-lg-block">
					{%- liquid
						assign collection = collections[settings.search_prs_suggest]
						assign limit = 5 
						assign show_search_suggest = settings.show_search_suggest
						if shop.types.size < 3
							assign shop_types = shop.types | join: ' ' | remove: ' '
						else
							assign shop_types = 'type_the4'
						endif
					-%}
             
					<form data-frm-search action="{{ routes.search_url }}" method="get" class="t4s-search-header__form t4s-row t4s-g-0 t4s-align-items-center" role="search">
						
						{%- if settings.filter_type_search and shop_types != blank -%}
						<div data-cat-search class="t4s-search-header__type t4s-pr t4s-oh t4s-col-auto t4s-col-item">
							<select data-name="product_type" class="t4s-truncate">
								<option value="*">{{ 'search.general.all_categories' | t }}</option>
								{%- for product_type in shop.types -%}{%- if product_type == blank %}{% continue -%}{% endif -%}<option value="{{ product_type }}"{% if search_pr_type == product_type %} selected="selected"{% endif %}>{{ product_type }}</option>{%- endfor -%}
							</select>
							{%- comment %}<svg class="t4s-icon-select-arrow t4s-pe-none" role="presentation" width="10" height="10" viewBox="0 0 19 12"><use xlink:href="#t4s-select-arrow"></use></svg>{% endcomment -%}
						</div>
						<div class="t4s-search-header_border t4s-col-auto t4s-col-item"></div>
						{%- endif -%}
						<div class="t4s-search-header__main t4s-pr t4s-oh t4s-d-flex t4s-col t4s-col-item">
							<input data-input-search class="t4s-search-header__input t4s-input__currentcolor" autocomplete="off" type="text" name="q" placeholder="{{ 'search.general.placeholder_products' | t }}">
							<button class="t4s-search-header__submit{% if settings.ajax_search %} t4s-pe-none{% endif %}" type="submit"><svg class="t4s-icon t4s-icon--search" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg></button>
						</div>
					</form>
					<div class="t4s-pr">
						<div class="t4s-pa t4s-frm-search__results t4s-text-start">
							<div data-skeleton-search class="t4s-skeleton_wrap t4s-dn">
								{%- for i in (1..4) -%}
								<div class="t4s-row t4s-space-item-inner">
									<div class="t4s-col-auto t4s-col-item t4s-widget_img_pr"><div class="t4s-skeleton_img"></div></div>
									<div class="t4s-col t4s-col-item t4s-widget_if_pr"><div class="t4s-skeleton_txt1"></div><div class="t4s-skeleton_txt2"></div></div>
								</div>
								{%- endfor -%}
							</div>
							<div data-results-search class="t4s-frm-search__content t4s_ratioadapt t4s-current-scrollbar"{% if collection == blank or show_search_suggest == false %} style="display: none;"{% endif %}>
								{%- if collection != blank and show_search_suggest -%}
									{%- for product in collection.products limit: limit -%}
										{%- render 'pr-sidebar-loop', imgatt: "", product: product, pr_url: product.url, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
									{%- endfor -%}
								{%- endif -%}
							</div>
							{%- if collection != blank and show_search_suggest -%}
								{%- if collection.all_products_count > limit -%}
									<div data-viewAll-search>
										<a href="{{ collection.url }}" class="t4s-mini-search__viewAll t4s-d-block">{{ 'search.pagination.view_all' | t }} <svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 18.71875 6.78125 L 17.28125 8.21875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 17.28125 23.78125 L 18.71875 25.21875 L 27.21875 16.71875 L 27.90625 16 L 27.21875 15.28125 Z"/></svg></a>
									</div>
								{%- endif -%}
							{%- else -%}
								<div data-viewAll-search></div>
							{%- endif -%}
						</div>
					</div>
	      </div>
			  <a class="t4s-pr t4s-d-lg-none" href="{{ routes.search_url }}" data-drawer-delay- data-drawer-options='{ "id":"#t4s-search-hidden" }'>
					<svg class="t4s-icon t4s-icon--search" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg>
			  </a>
    {%- else -%}
			<a class="t4s-pr" href="{{ routes.search_url }}" data-drawer-delay- data-drawer-options='{ "id":"#t4s-search-hidden" }'>
				<svg class="t4s-icon t4s-icon--search" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg>
			</a>
		{%- endif -%}
	</div>
	{%- endif -%}
	{%- if shop.customer_accounts_enabled and se_stts.show_acc -%}
		<div class="t4s-site-nav__icon t4s-site-nav__account t4s-pr t4s-d-none t4s-d-md-inline-block">
			<a class="t4s-pr" href="{{ routes.account_url }}" data-no-instant{% unless customer or request.page_type contains 'customers' or settings.login_side == false %} data-drawer-delay- data-drawer-options='{ "id":"#t4s-login-sidebar" }' {% endunless %}>
				<svg class="t4s-icon t4s-icon--account" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-account"></use></svg>
			</a>
			{%- if customer -%}
				<ul class="t4s-my-account">
					<li><a class="t4s-d-block" href="{{ routes.account_url }}">{{ 'customer.account.dashboard' | t }}</a></li>
					<li><a class="t4s-d-block" href="{{ routes.account_addresses_url }}">{{ 'customer.menu.addresses' | t }}</a></li>
					<li><a class="t4s-d-block" href="{{ routes.account_logout_url }}" data-no-instant>{{ 'customer.account.log_out' | t }}</a></li>
				</ul>
				{%- style -%}
					.t4s-site-nav__account .t4s-my-account{
						position: absolute;
						top: 100%;
						z-index: 380;
						background-color: var(--t4s-body-background);
						box-shadow: 0 0 3px rgb(0 0 0 / 15%);
						list-style: none;
						right: -5px;
						width: 165px;
						padding: 10px 0;
						line-height: 1.4;
						margin-top: 12px;
						border-radius: 3px;
						transform: translateY(15px) translateZ(0);
						visibility: hidden;
						transition: opacity .2s,visibility .2s,transform .2s;
						opacity:0;
						text-align: start;
					}
					.t4s-site-nav__account .t4s-my-account::after{
						content: "";
						position: absolute;
						top: auto;
						right: 0;
						bottom: 100%;
						left: 0;
						width: auto;
						height: 12px;
					}
					.t4s-site-nav__account .t4s-my-account a{padding: 8px 18px;color:var(--text-color);}
					.rtl_true .t4s-site-nav__account .t4s-my-account{left:-5px;right:auto;}
					@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px){
						.t4s-site-nav__account .t4s-my-account a:hover{color: var(--accent-color)!important;}
						.t4s-site-nav__account:hover .t4s-my-account{
							pointer-events: auto;
							visibility: visible;
							opacity: 1;
							transform: none;
						}
					}
				{%- endstyle -%}
			{%- endif -%}
		</div>
	{%- endif -%}
	{%- if se_stts.show_wis -%}
		<div class="t4s-site-nav__icon t4s-site-nav__heart t4s-d-none t4s-d-md-inline-block">
			{%- if settings.wishlist_mode != '3' -%}		
				<a data-link-wishlist class="t4s-pr" href="{{ routes.search_url }}/?view=wishlist">
				<svg class="t4s-icon t4s-icon--heart" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-heart"></use></svg>
				<span data-count-wishlist class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">0</span>
				</a>
			{%- else -%}
				{%- capture the_snippet_fave_icon_menu %}{% render 'ssw-widget-faveicon-menu' with product.id %}{% endcapture -%}
				{%- unless the_snippet_fave_icon_menu contains 'Liquid error' %}{{ the_snippet_fave_icon_menu }}{% endunless -%}
			{%- endif -%}
		</div>
   {%- endif -%}

	{%- if se_stts.cart_des != '0' -%}
	<div class="t4s-site-nav__icon t4s-site-nav__cart">	
		<a href="{{ routes.cart_url }}"{% if request.page_type != 'cart' and settings.cart_type != 'disable' %} data-drawer-delay- data-drawer-options='{ "id":"#t4s-mini_cart" }'{% endif %}>
			<span class="t4s-pr t4s-icon-cart__wrap">
			  <svg class="t4s-icon t4s-icon--cart" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-cart"></use></svg>
			  <span data-cart-count class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">{{ cart.item_count }}</span>
			</span>
			<span class="t4s-h-cart-totals t4s-dn">
				<span class="t4s-h-cart__divider t4s-dn">/</span>
				<span data-cart-tt-price class="t4s-h-cart__total">{{ cart.total_price | money }}</span>
			</span>
		</a>
	</div>
	{%- endif -%}

	{%- if isShowMenuBtn -%}
	<div class="t4s-site-nav__icon t4s-site-nav__btnMenu t4s-d-none t4s-d-lg-block">{%- render 'push_menu' -%}</div> 
	{%- endif -%}
</div>

{%- if se_stts.cart_des != '0' -%}
	<style>
		.t4s-h-cart__design3 .t4s-count-box {
			width: 19px;
			height: 19px;
			line-height: 19px;
			position: static;
			display: inline-block;
		}
		.t4s-h-cart__design2 .t4s-site-nav__icon:last-child,
		.t4s-h-cart__design3 .t4s-site-nav__icon:last-child,
		.t4s-h-cart__design4 .t4s-site-nav__icon:last-child,
		.t4s-h-cart__design5 .t4s-site-nav__icon:last-child {
			padding-right: 0;
		}
		@media (min-width: 768px) {
			.t4s-h-cart__design2 .t4s-site-nav__cart a,
			.t4s-h-cart__design4 .t4s-site-nav__cart a,
			.t4s-h-cart__design5 .t4s-site-nav__cart a {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.t4s-h-cart__design2 .t4s-h-cart-totals,
			.t4s-h-cart__design4 .t4s-h-cart-totals {
				display: block;
				margin-left: 15px;
			}
			.t4s-h-cart__design4 .t4s-site-nav__cart .t4s-count-box,
			.t4s-h-cart__design5 .t4s-site-nav__cart .t4s-count-box {
				display: none
			}
			.t4s-h-cart__design4 .t4s-h-cart-totals {
				margin-left: 7px;
			}
			.t4s-h-cart__design5 .t4s-h-cart__divider {
				display: inline-block;
			}
			.t4s-h-cart__design5 .t4s-h-cart-totals {
				display: block;
				margin-left: 7px;
			}		
			.t4s-h-cart__design1 .t4s-site-nav__icon.t4s-site-nav__btnMenu {
				padding-right: 0;
			}
		}
	</style>
{%- endif -%}